<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Tasker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/task_page.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" media="screen">
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn-sair").click(function () {
                window.location.href = "/sair";
            })
        })

        $(document).ready(function () {
            $("#btn-add").click(function () {
                $('#addTaskModal').modal('show');
            });

            $('.btn btn-info openEdit').click(function (e) {
                var myBookId = $(this).data('id');
                console.log(myBookId);
                
                // As pointed out in comments, 
                // it is unnecessary to have to manually call the modal.
                // $('#addBookDialog').modal('show');
            });
        })



    </script>
</head>

<body>
    <div class="wrapper">
        <!-- Toolbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light list-inline">
            <div class="container-fluid">
                <div style="float: left;">
                    <a class="navbar-brand" href="#" style="color: #6d7fcc">Tasker</a>
                </div>
                <div style="float: right; padding-top: 8px;">
                    <button type="button" class="btn btn-success" id="btn-add">Adicionar tarefa</button>
                    <button type="button" class="btn btn-danger" id="btn-sair">Sair</button>
                </div>
            </div>
        </nav>
        <!-- Toolbar -->
        <!-- Alerta -->
        <% if(success != '') { %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <!-- Alerta -->

        <!-- Kanban -->
        <div class="container-fluid pt-3">
            <div class="row flex-row flex-sm-nowrap py-3">
                <!-- Backlog -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h4 class="card-title text-uppercase text-truncate py-2">Backlog</h4>
                            <div class="items border border-light">
                                <% for(let i=0; i<tasks.length; i++) {%>
                                <% if(tasks[i].progress == 0) { %>
                                <div class="card shadow-sm">
                                    <div class="card-body p-2">
                                        <div class="card-title">
                                            <a class="text"
                                                style="color: #6d7fcc;"><strong><%= tasks[i].title %></strong></a>
                                        </div>
                                        <div>
                                            <p>
                                                <%= tasks[i].description %>
                                            </p>
                                            <label>Progresso: <span
                                                    id="prognumber"><%= tasks[i].progress %></span></label>
                                        </div>

                                        <!-- Ações -->
                                        <div style="padding-top: 5px;">
                                            <button style="float: left;" id="<%= tasks[i].id %>" type="button"
                                                class="btn btn-info openEdit" data-toggle="modal"
                                                data-target="#editTaskModal"
                                                data-id="<%= tasks[i].id %>">Atualizar</button>
                                            <a class="btn btn-danger" style="float: right;"
                                                href="/task/delete?id=<%= tasks[i].id %>" role="button">Excluir</a>
                                        </div>
                                        <!-- Ações -->
                                    </div>
                                </div>
                                <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Backlog -->
                <!-- Andamento -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h4 class="card-title text-uppercase text-truncate py-2">Em Andamento</h4>
                            <div class="items border border-light">
                                <% for(let i=0; i<tasks.length; i++) {%>
                                <% if(tasks[i].progress > 0 && tasks[i].progress < 100) { %>
                                <div class="card shadow-sm">
                                    <div class="card-body p-2">
                                        <div class="card-title">
                                            <a class="text"
                                                style="color: #6d7fcc;"><strong><%= tasks[i].title %></strong></a>
                                        </div>
                                        <div>
                                            <p>
                                                <%= tasks[i].description %>
                                            </p>
                                            <label>Progresso: <span
                                                    id="prognumber"><%= tasks[i].progress %></span></label>
                                        </div>
                                        <!-- Ações -->
                                        <div style="padding-top: 5px;">
                                            <button style="float: left;" type="button" class="btn btn-info"
                                                data-toggle="modal" data-target="#editTaskModal">Atualizar</button>
                                            <a class="btn btn-danger" style="float: right;"
                                                href="/task/delete?id=<%= tasks[i].id %>" role="button">Excluir</a>
                                        </div>
                                        <!-- Ações -->
                                    </div>
                                </div>
                                <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Andamento -->
                <!-- Finalizado -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h4 class="card-title text-uppercase text-truncate py-2">Finalizado</h4>
                            <div class="items border border-light">
                                <% for(let i=0; i<tasks.length; i++) {%>
                                <% if(tasks[i].progress == 100) { %>
                                <div class="card shadow-sm">
                                    <div class="card-body p-2">
                                        <div class="card-title">
                                            <a class="text"
                                                style="color: #6d7fcc;"><strong><%= tasks[i].title %></strong></a>
                                        </div>
                                        <div>
                                            <p>
                                                <%= tasks[i].description %>
                                            </p>
                                            <label>Progresso: <span
                                                    id="prognumber"><%= tasks[i].progress %></span></label>
                                        </div>

                                        <!-- Ações -->
                                        <div style="padding-top: 5px;">
                                            <button style="float: left;" type="button" class="btn btn-info"
                                                data-toggle="modal" data-target="#editTaskModal">Atualizar</button>
                                            <a class="btn btn-danger" style="float: right;"
                                                href="/task/delete?id=<%= tasks[i].id %>" role="button">Excluir</a>
                                        </div>
                                        <!-- Ações -->
                                    </div>
                                </div>
                                <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Finalizado -->
            </div>
        </div>
    </div>
    <!-- Kanban -->

    <!-- Modal -->
    <div class="modal fade" id="editTaskModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Atualizar</h3>
                    <span class="close" data-dismiss="modal" style="color: red;">&times;</span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="/task/update_task_data" method="POST" id="form_task_update">

                        <div class="form-group row">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Título</label>
                            <div class="col-md-6">
                                <input type="text" id="title" class="form-control" name="title" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="description" class="col-md-4 col-form-label text-md-right">Descrição</label>
                            <div class="col-md-6">
                                <input type="text" id="description" class="form-control" name="description" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Progresso</label>
                            <div class="col-md-6">
                                <input name="progress" id="progress" class="form-control" type="number" min="0"
                                    max="100" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" value="Concluir" class="btn btn-success atualizarBtn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <!-- Modal -->
    <div class="modal fade" id="addTaskModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Adicionar</h3>
                    <span class="close" data-dismiss="modal" style="color: red;">&times;</span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="task/insert" method="post" id="form_task_add">
                        <div class="form-group row">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Título</label>
                            <div class="col-md-6">
                                <input type="text" id="title" class="form-control" name="title" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="description" class="col-md-4 col-form-label text-md-right">Descrição</label>
                            <div class="col-md-6">
                                <input type="text" id="description" class="form-control" name="description" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" value="Concluir" class="btn btn-success incluirBtn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <!-- Footer -->
    <footer class="page-footer bg-light list-inline" style="position: absolute; bottom: 0; width: 100%;">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#">Rebecca Rodrigues</a> e
            <a href="#">Marcos Paulo Campos</a>
        </div>
    </footer>
    <!-- Footer -->
</body>

</html>